#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: *Module\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\UserManager
	- App\Model\MenuManager
	- App\Model\MenuItemManager
	- App\Model\MenuMenuItemManager
	- App\Model\UserStateManager
	- App\Model\BankAccountManager
	- App\Model\EquipmentManager
	- App\Model\InventoryManager
	- App\Model\ItemManager
	- App\Model\LocationManager
	- App\Model\AuthorizatorFactory
	- App\Forms\FormFactory
	- App\Forms\SignFormFactory
	- App\Forms\RegisterUserFactory
	- App\Forms\EditUserFactory
	- App\Forms\SearchUserFactory
	- App\Forms\UserBankAccountFactory
	- App\Forms\WeaponFactory
	- App\Forms\ItemFactory\ItemFactory
	- App\Forms\MenuFactory\MenuFactory
	- App\Forms\LocationFactory\LocationFactory
	router: App\RouterFactory::createRouter
	-
		class: Nette\Security\Permission
		factory: @App\Model\AuthorizatorFactory::create