html,
body {
  background-color: #eee;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: #e74c3c;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #c0392b;
}

table {
    width: 100%;
    margin-bottom: 5px;
}

table thead {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
}


table thead th:first-child {
    border-top-left-radius: 5px;
}

table thead th:last-child {
    border-top-right-radius: 5px;
}

table tr td,
table th {
    padding: 5px 10px;
}

table tr td {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

table tbody {
    box-shadow: 0px 1px 3px #bababa;
}

table tr td input[type="text"],
table tr td input[type="number"],
table tr td input[type="submit"],
table tr td input[type="password"],
table tr td input[type="email"],
table tr td select,
table tr td button,
table tr td textarea {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #bababa;
    border-radius: 6px;
    outline: 0;
    cursor: pointer;
}

table tr td textarea {
    max-width: 100%;
    max-height: 400px;
}

table.result tr td,
table.result tbody tr th {
    text-align: center;
}

table.stats tr td:nth-child(even) {
    font-weight: bold;
}

/* IDs */

#flex-body {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}


#left-panel {
    background: #fff;
    -ms-flex: 0 100px;
    -webkit-box-flex:  0;
    -moz-box-flex:  0;
    -ms-box-flex:  0;
    box-flex:  0;  
    box-shadow: 1px 0px 5px #bababa;
}

#profile-panel {
  color: #fff;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #2ecc71;
  padding: 5px;
  line-height: 1;
}

#profile-panel a {
  color: #219452;
}

#profile-panel a:hover {
  color: #219452;
}

#profile-panel strong {
    font-size: 16px;
}

#profile-image img{
  width: 50px;
  height: 50px;
  border: 0px;
  border-radius: 50%;
  margin-right: 5px;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu ul li {
}

#menu a {
    display: block;
    color: #777;
    font-weight: normal;
    padding: 10px;
    border-bottom: 1px solid #bababa;
}

#menu a:hover {
    color: #fff;
    background-color: #219452;
    text-decoration: none;
}

#content {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    padding: 10px;
}

#content-panels {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;

    -ms-flex-direction: column;
    align-content: space-between;
}

#content-panels > div {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    margin: 5px;
}

#content-panels > div.sign {
    overflow: hidden;
    position: absolute;
    width: 99%;
    height: 90%;
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/  
}
#content-panels > div.sign form {
    width: 250px;
}

#log-out a{
    color: #fff;
    background-color: #e74c3c;
    font-weight: bold;
    border: 0;
}

#log-out a:hover {
    background-color: #c0392b;
}

/* Classes */

.search-panel {
}

.search-panel form {
    width: 100%;
    margin: 0 auto;
}

.search-panel table {
    width: 100%;
    border-spacing: 0;
}

.search-panel table tbody {
    box-shadow: 0px 0px 0px;
}

.search-panel table tr td {
    padding: 0;
    background-color: transparent;
}

.search-panel table tr td:first-child {
    width: 95%;
}

.search-panel table tr td input {
    padding: 10px;
    border: 1px solid #bababa;
    border-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: 0;
}

.search-panel table tr td button {
    color: #fff;
    background-color: #2ecc71; 
    padding: 10px;
    border: 1px solid #219452;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#grey::before {
    content: "└ ";
}

#grey {
    background-color: #eee;
    border-bottom: 1px solid #bababa;
    padding: 10px;
}

/* Overriding bootstrap */

.dropdown-header {
    padding: 0;
    margin: 0;
}

.btn-success {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
}

.btn-success:hover {
    background-color: #219452;
}

.table-condensed thead {
    color: #000;
    background-color: transparent;
}

.datepicker td.day:hover {
    color: #fff;
    background-color: #219452;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled]{
    background-color: #219452;
}